@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .app {
    @apply bg-main-light-bg dark:bg-main-dark-bg min-h-screen text-main-color duration-500;
  }

  ::-webkit-scrollbar {
    @apply w-0 md:w-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-300 dark:bg-main-dark-bg;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-main-color;
  }

  .customContainer {
    @apply px-3;
  }

  .mainHeader {
    @apply sticky top-0 z-50;
  }

  .navItemHover {
    @apply hover:bg-slate-200 dark:hover:bg-zinc-600 hover:bg-opacity-20 rounded-md duration-200;
  }
  .whyWeLi {
    @apply text-xs smd:text-base md:text-xl flex items-start  gap-4
  }
  .liIcon {
    @apply text-lg md:text-xl lg:text-3xl
  }

  h1 {
    @apply font-extrabold text-center text-xl smd:text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
  }

  h2{
    @apply text-center text-xl smd:text-4xl font-bold mb-10 md:mb-16;
  }

  h3{
    @apply text-lg smd:text-3xl 
  }

  h4{
    @apply text-center font-semibold text-base smd:text-2xl mb-3 md:mb-6
  }

  header p {
    @apply pb-0;
  }
  p {
    @apply pb-3 md:text-base lg:text-xl;
  }
  .btn{
    @apply duration-300 cursor-pointer hover:scale-110  inline-block bg-main-color opacity-90 w-fit rounded-full mx-auto text-white px-4 md:py-2 font-medium md:text-lg  lg:text-xl shadow-white shadow-inner
  }
  .serviseImg{
    @apply rounded-2xl mb-3
  }
}

.slideItem {
  max-height: 600px;
  // height: calc(300px + (600 - 300) * ((100vw - 360px) / (768 - 360)));
}
@media (min-width: 0px) {
  .slideItem {
    height: calc(300px + (600 - 300) * ((100vw - 320px) / (768 - 320)));
  }
}
@media (min-width: 769px) {
  .slideItem {
    height: calc(300px + (450 - 300) * ((100vw - 768px) / (1000 - 768)));
  }
}
@media (min-width: 1001px) {
  .slideItem {
    height: calc(300px + (380 - 300) * ((100vw - 1001px) / (1280 - 1001)));
  }
}
// @media (max-width: 1000px) {
//   .slideItem {
//     height: calc(300px + (450 - 300) * ((100vw - 768px) / (1000 - 768)));
//     background-color: red;
//   }
// }
.slick-slide {
  // padding: 0 20px;
}
@media (min-width: 768px) {
  .slick-slide {
    padding: 0 20px;
  }
}
.banner{
  background-image: url(../public/assets/Exclude.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
